@import "reset";
@import "functions";
@import "color";
@import "font";

html, body {
    background-color: $bg-color;
    color: $text-color;
    font-family: $font;
}

[ng-click] {
    cursor: pointer;
}

input {
    background-color: $white;
    border: 1px solid $gray2;
    padding: 0 4px;

    &:focus {
        outline: none;
        border: 1px solid $gray4;
    }
}

button {
    display: inline-block;
    background: none;
    border: none;
    color: $gray4;
    font-family: $font-light;
    //font-size: 0.85em;
    padding: 0;
}

ul.action {
    display: none;
    float: right;
    color: $gray4;
    font-size: 0.8em;
    margin-top: -18px;
    font-family: $font-light;

    li {
        display: inline-block;
        margin-left: 10px;
    }
}

.doc-show:hover {
    ul.action {
        display: block;
    }
}

.doc-edit ul.action {
    display: block;
}

#icon_type {

    display: block;
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &.contact {
        background-image: url('../images/contact.svg');
    }

    &.family {
        background-image: url('../images/family.svg');
    }

    &.business {
        background-image: url('../images/business.svg');
    }

    &.association {
        background-image: url('../images/association.svg');
    }

    &.foundation {
        background-image: url('../images/foundation.svg');
    }

    &.entity {
        background-image: url('../images/business.svg');
    }

    &.donation {
        background-image: url('../images/donation.svg');
    }

    &.event {
        background-image: url('../images/event.svg');
    }

    &.group {
        background-image: url('../images/group.svg');
    }
}

header#header_bar {
    background-color: $white;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0px -10px 21px 6px rgba(0, 0, 0, 0.30);


    #logo_simple {
        margin: 10px 10px 0 10px;
        width: 40px;
        height: 40px;
        background-image: url('../images/logo_simple.svg');
        display: inline-block;
        vertical-align: top;
    }

    form {
        display: inline-block;
        margin: 10px 30px 10px 0;
        vertical-align: top;
        width: 400px;

        input {
            width: 100%;
            line-height: 36px;
        }
    }

    div#message {
        width: 100%;
        background-color: $gray2;
        color: white;
        height: 30px;
        text-align: center;
        line-height: 30px;
        padding: 0;
    }

    button {
        margin-top: 14px;
    }

}

section#body {
    max-width: 1200px;
    margin: 70px auto 0;
    z-index: 100;

    nav.filter {
        padding: 10px;

        ul {

            li {
                display: inline-block;
                margin-right: 15px;
                cursor: pointer;

                &.selected {
                    border-bottom: 2px solid $black;
                }

            }
        }
    }

    span.nb_results {
        color: $gray2;
        font-size: 0.8em;
    }

    ul.results {
        border-top: 2px solid $gray2;
        border-bottom: 2px solid $gray2;
        padding: 10px;

        li {
            border-bottom: 1px solid $gray2;
            list-style: none;
            padding: 5px 0;
            cursor: pointer;

            &:last-of-type {
                border-bottom: none;
            }

            div.icon {
                display: inline-block;
                padding: 0 7px;

                div {
                    width: 50px;
                    height: 50px;
                }
            }

            div.text {
                display: inline-block;
                vertical-align: top;
            }

            h1 {
                font-family: $font-semi-bold;

            }

            p {

            }
        }
    }

    nav.left-nav {
        display: block;
        width: 100%;
        min-width: 200px;
        max-width: 280px;
        position: fixed;
        background-color: $white;
        box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
        margin: 116px 0 0 0;

        @media only screen and (max-height: 500px) {
            margin: 20px 0 0 0;
        }

        ul {

            li {
                display: block;
                line-height: 34px;
                border-bottom: 1px solid $gray2;
                margin-top: -1px;
                font-family: $font-semi-bold;
                color: $gray4;

                &:hover {
                    background-color: $gray2;
                }

                &.active {
                    background-color: $black;
                    color: $white;
                    border-bottom: 1px solid $black;

                    &:hover {
                        background-color: $black;
                    }
                }

                &:last-of-type {
                    border-bottom: none;
                }

                span.label {
                    padding: 0 0 0 10px;
                }
            }
        }
    }

    #docMain {
        width: 580px;
        margin: 0 auto;
        display: block;
        position: relative;

        & > header {
            padding-top: 30px;

            #icon_type {
                display: inline-block;
                width: 50px;
                height: 50px;
                margin: 0 5px 0 0;
            }

            h1 {
                display: inline-block;
                vertical-align: top;
                font-size: 2.25em;
                font-family: $font-semi-bold;
            }
        }
    }

    @media only screen and (max-width: 1260px) {

        nav.left-nav {
            margin-left: 20px;
            width: 220px;
        }

        #docMain {
            margin: 0 0 0 300px;
        }

    }

    @media only screen and (max-width: 960px) {

        margin-top: 100px;

        nav.left-nav {
            position: fixed;
            top: 60px;
            width: 100%;
            margin: 0;
            max-width: inherit;

            ul {
                overflow: scroll;
                word-break: keep-all;
                white-space: nowrap;

                li {
                    display: inline-block;
                    border-bottom: none;
                    padding: 0 10px;


                    &.active {
                        border-bottom: none;
                    }

                    span.label {
                        padding: 0;
                    }
                }
            }
        }

        #docMain {
            margin: 0 auto;
            width: 96%;
            max-width: 580px;
        }
    }
}

article.doc-show,
article.doc-edit {
    margin: 30px 0;

    header {
        border-bottom: 3px solid $gray2;
        padding-bottom: 4px;

        h2 {
            font-family: $font-semi-bold;
        }
    }
}

button.big {
    background: $black;
    color: $white;
    font-family: $font-semi-bold;
    @include border-radius(3px);
    padding: 0 10px;
    line-height: 30px;
}

section.data {
    border-bottom: 1px solid $gray2;
    font-size: 0.9em;
    padding: 6px 0;
    line-height: 22px;

    & > div {
        vertical-align: top;

    }

    &.block-value {
        line-height: inherit;
    }

    .key {
        display: inline-block;
        width: 39%;
        padding: 0;
        margin: 0;
        color: $gray4;
        font-family: $font-light;
    }

    .values {
        display: inline-block;
        width: 60%;
        padding: 0;
        margin: 0;
    }

    &.edit {
        .value {
            padding-bottom: 10px;

            &:first-child {
                margin-right: 0;
            }
        }

        .values {
            & > input,
            & > select {
                margin-right: 10px;
            }
        }
    }

    select {
        -webkit-appearance: none;
        background-color: $gray2;
        background-image: url('../images/select.svg');
        background-position: right center;
        background-repeat: no-repeat;
        padding: 0 20px 0 4px;
        border: none;
        @include border-radius(2px);
        box-shadow: 1px 1px 0px 0px $gray3;

        &:focus {
            box-shadow: 2px 2px 0px 0px $gray3;
            outline: none;
        }

    }

    textarea {
        width: 100%;
        border: none;
        background: transparent;
        padding: 0;
        outline: none;
    }

    select {
        &:first-of-type {
            margin-left: -4px;
        }
    }

    input {
        &:first-of-type {
            margin-left: -5px;
        }
    }
}

#addView {
    position: fixed;
    top: 15%;
    left: 50%;
    background-color: $white;
    width: 580px;
    height: 100%;
    margin-left: -320px;
    z-index: 1000;
    padding: 20px 30px 40px 30px;
    box-shadow: 1px 5px 10px 0px rgba(0,0,0,0.25);
    max-height: 70%;


    a.close {
        width: 28px;
        height: 28px;
        background-image: url('../images/close_addView.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        position: absolute;
        top: -11px;
        right: -11px;
    }

    .content {
        position: absolute;
        display: block;
        overflow: scroll;
        top: 20px;
        bottom: 30px;
        left: 10px;
        right: 10px;
        padding: 0 20px 0 20px;

        & > div {
            display: block;
        }
    }

    header {
        
        #icon_type {
            display: inline-block;
            width: 30px;
            height: 30px;
        }
        
        h1 {
            vertical-align: top;
            display: inline-block;
            font-size: 1.5em;
            font-family: $font-semi-bold;
        }
    }

    h2.sub_title {
        font-family: $font-bold;
        font-size: 1.2em;
        color: $gray4;
    }

    input.searchEntity,
    input.searchContact {
        margin-top: 20px;
    }

    ul.results {
        margin: 20px 0;


        li {
            display: block;
            margin: 5px 0;
            border-bottom: 1px solid $gray2;
            vertical-align: top;
            padding: 5px 0;

            &:first-of-type {
                border-top: 3px solid $gray2;
            }

            &:last-of-type {
                border-bottom: 3px solid $gray2;
            }

            #icon_type {
                display: inline-block;
                width: 30px;
                height: 30px;
            }
            
            h1 {
                display: inline-block;
                vertical-align: top;
                font-family: $font-semi-bold;
            }
        }
    }



    a.block {
        width: 180px;
        height: 100px;
        margin: 20px 16px 0 0;
        background-color: $gray2;
        display: inline-block;
        font-family: $font-semi-bold;
        line-height: 100px;
        text-align: center;

        &:nth-of-type(3) {
            margin-right: 0;
        }
        
    }
}