<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="iahmDBApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="iahmDBApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="iahmDBApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="fr" ng-app="iahmDBApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<section id="page" ng-controller="appCtrl">
    <header id="header_bar">

        <a href="#/search" id="logo_simple"></a>

        <form action="#">
            <input type="text" id="searchAll" ng-model="searchValue" ng-change="searchAll()"
                   autocomplete="off" autofocus>


        </form>

        <button class="big" ng-click="addView()">Ajouter ...</button>

        <!--
        <button ng-click="connect()">Connect</button>
        <button ng-click="updateAccess()">updateAccess</button>
        <button ng-click="resetOauth()">resetOauth</button>
        <button ng-click="badAccessToken()">badAccessToken</button>

        <span>{{isConnected()}}</span>

        -->

        <div id="message" ng-show="message">{{ message }}</div>
    </header>

    <div id="addView" ng-if="addViewStatus" ng-controller="addCtrl" ng-include="'views/add.html'"></div>

    <section id="body" class="" ng-view></section>
</section>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->

<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/moment/locale/fr.js"></script>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

<script src="bower_components/angular-momentjs/angular-momentjs.min.js"></script>
<script src="bower_components/angular-moment/angular-moment.min.js"></script>

<script src="bower_components/angular-sb-date-select/src/sb-date-select.js"></script>


<script src="build/iahmDBApp.min.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>