<header>
    <div id="icon_type" class="group"></div>
    <h1>Ajouter un groupe</h1>
</header>

<article class="doc-edit">
    <header>
        <h2>Informations</h2>
    </header>
    <section class="data edit">
        <div class="key"><h3>Titre *</h3></div>
        <div class="values">
            <input type="text" ng-model="groupToCreate.title" autocomplete="off"/>
        </div>
    </section>
</article>

<footer>
    <div class="left">
        <button class="big" ng-click="addItem('choice')">Retour</button>
    </div>
    <div class="right">
        <button class="big" ng-click="saveNew('group')">Créer le groupe</button>
    </div>
</footer>