<nav class="left-nav">
    <ul>
        <li ng-repeat="tab in tabs"
            ng-class="{active:isActiveTab(tab.url)}"
            ng-click="onClickTab(tab)">
            <span class="label">{{tab.title}}</span>
            <span class="nb"></span>
        </li>
    </ul>
</nav>

<section id="docMain">

    <header ng-show="!editTitle" class="doc-show">
        <ul class="action">
            <li ng-click="editItem('editTitle')">Modifier</li>
        </ul>

        <div id="icon_type" class="contact"></div>

        <h1>{{contact.firstname}} {{contact.lastname}}</h1>
    </header>

    <article ng-show="editTitle" class="doc-edit">
        <header>
            <h2>Nom du contact</h2>
            <ul class="action">
                <li ng-click="saveItem('contact', 'editTitle')">Sauvegarder</li>
                <li ng-click="cancelItem('contact', 'editTitle')">Annuler</li>
            </ul>
        </header>
        <section class="data edit">
            <div class="key"><h3>Prénom</h3></div>
            <div class="values">
                <input type="text" ng-model="contact.firstname" autocomplete="off"/>
            </div>
        </section>
        <section class="data edit">
            <div class="key"><h3>Nom</h3></div>
            <div class="values">
                <input type="text" ng-model="contact.lastname" autocomplete="off"/>
            </div>
        </section>
    </article>

    <div ng-include="currentTab"></div>
</section>


<script type="text/ng-template" id="infos.tpl.html">

    <article ng-show="!editInfos" class="doc-show">
        <header>
            <h2>Informations générales</h2>
            <ul class="action">
                <li ng-click="editItem('editInfos')">Modifier</li>
            </ul>
        </header>
        <section class="data">
            <div class="key"><h3>Sexe</h3></div>
            <div class="values">
                <div class="value">
                    <span ng-if="contact.gender=='man'">Homme</span>
                    <span ng-if="contact.gender=='woman'">Femme</span>
                </div>
            </div>
        </section>
        <section class="data">
            <div class="key"><h3>Date de naissance</h3></div>
            <div class="values">

                <div class="value" ng-show="contact.date_of_birth">{{contact.date_of_birth | amDateFormat:'Do MMMM
                    YYYY'}} ({{contact.date_of_birth | ageFilter}}
                    ans)
                </div>
            </div>
        </section>
        <section class="data">
            <div class="key"><h3>Titre</h3></div>
            <div class="values">
                <div class="value">{{contact.title}}</div>
            </div>
        </section>
        <section class="data">
            <div class="key"><h3>Langues</h3></div>
            <div class="values">
                <div class="value">

                    <span ng-repeat="language in contact.languages">{{language.ref |language}}</span>

                </div>
            </div>
        </section>
    </article>

    <article ng-show="editInfos" class="doc-edit">
        <header>
            <h2>Informations générales</h2>
            <ul class="action">
                <li ng-click="saveItem('contact', 'editInfos')">Sauvegarder</li>
                <li ng-click="cancelItem('contact', 'editInfos')">Annuler</li>
            </ul>
        </header>
        <section class="data edit">
            <div class="key"><h3>Sexe</h3></div>
            <div class="values">
                <select ng-model="contact.gender">
                    <option value="man">Homme</option>
                    <option value="woman">Femme</option>
                </select>
            </div>
        </section>
        <section class="data edit">
            <div class="key"><h3>Date de naissance</h3></div>
            <div class="values">
                <div sb-date-select ng-model="contact.date_of_birth"></div>
            </div>
        </section>
        <section class="data edit">
            <div class="key"><h3>Titre</h3></div>
            <div class="values">
                <select ng-model="contact.title">
                    <option value="Madame">Madame</option>
                    <option value="Monsieur">Monsieur</option>
                </select>
            </div>
        </section>
        <section class="data edit">
            <div class="key"><h3>Langues</h3></div>
            <div class="values">

                <div class="tags" data-type="language">
                    <div class="results">

                        <span ng-click="removeToResults('language', language)"
                              ng-repeat="language in contact.languages">{{language.ref |language}}</span>

                        <input type="text" ng-model="searchLanguage"/>

                    </div>

                    <ul class="found">
                        <li ng-click="addToResults('language', language)"
                            ng-repeat="language in code_langues | filter:searchLanguage">
                            <span>{{language.id |language}}</span>
                        </li>
                    </ul>

                </div>

            </div>
        </section>


    </article>

    <article ng-show="!editCoord" class="doc-show">
        <header>
            <h2>Coordonnées</h2>
            <ul class="action">
                <li ng-click="editItem('editCoord')">Modifier</li>
            </ul>
        </header>
        <section class="data">
            <div class="key"><h3>Téléphones</h3></div>
            <div class="values">
                <div class="value" ng-repeat="phone in contact.phones">
                    <span>{{phone.number | tel}}</span>
                    <span>({{phone.type}})</span>
                </div>
            </div>
        </section>
        <section class="data">
            <div class="key"><h3>E-mail</h3></div>
            <div class="values">
                <div class="value" ng-repeat="email in contact.emails">
                    <span>{{email.value}}</span>
                    <span>({{email.type}})</span>
                </div>
            </div>
        </section>
    </article>

    <article ng-show="editCoord" class="doc-edit">
        <header>
            <h2>Coordonnées</h2>
            <ul class="action">
                <li ng-click="saveItem('contact', 'editCoord')">Sauvegarder</li>
                <li ng-click="cancelItem('contact', 'editCoord')">Annuler</li>
            </ul>
        </header>
        <section class="data edit">
            <div class="key"><h3>Téléphones</h3></div>
            <div class="values">
                <div class="value" ng-repeat="phone in contact.phones">
                    <input type="text" international-phone-number default-country="ch"
                           preferred-countries="ch, fr, de, it, at, be, nl, us"
                           ng-model="phone.number" autocomplete="off"/>

                    <select ng-model="phone.type">
                        <option value="mobile">Mobile</option>
                        <option value="pro">Professionnel</option>
                        <option value="perso">Personnel</option>
                        <option value="Principal">Principal</option>
                        <option value="Fax (professionnel)">Fax (professionnel)</option>
                        <option value="Fax (personnel)">Fax (personnel)</option>
                        <option value="other">Autre</option>
                    </select>
                </div>
                <button ng-click="addEditItem(contact.phones)">Ajouter un autre téléphone</button>
            </div>
        </section>
        <section class="data edit">
            <div class="key"><h3>E-mail</h3></div>
            <div class="values">
                <div class="value" ng-repeat="email in contact.emails">
                    <input type="text" ng-model="email.value" autocomplete="off"/>

                    <select ng-model="email.type">
                        <option value="perso">Personnel</option>
                        <option value="pro">Professionnel</option>
                        <option value="other">Autre</option>
                    </select>
                </div>
                <button ng-click="addEditItem(contact.emails)">Ajouter une autre adresse e-mail</button>
            </div>
        </section>
    </article>

    <article ng-show="!editComm" class="doc-show">
        <header>
            <h2>Commentaires</h2>
            <ul class="action">
                <li ng-click="editItem('editComm')">Modifier</li>
            </ul>
        </header>
        <section class="data block-value">
            {{contact.comment}}
        </section>
    </article>

    <article ng-show="editComm" class="doc-edit">
        <header>
            <h2>Commentaires</h2>
            <ul class="action">
                <li ng-click="saveItem('contact', 'editComm')">Sauvegarder</li>
                <li ng-click="cancelItem('contact', 'editComm')">Annuler</li>
            </ul>
        </header>
        <section class="data edit block-value">
            <textarea ng-model="contact.comment" rows="6"></textarea>
        </section>
    </article>

</script>

<script type="text/ng-template" id="events.tpl.html">

    <article class="doc-show">
        <header>
            <h2>Events</h2>
            <ul class="action">
            </ul>
        </header>
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th colspan="2">Dates</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="event in events">
                <td><a href="#/doc/event/{{event.id}}">{{event.title}}</a></td>
                <td>{{event.start | date:'dd MMMM yyyy'}}</td>
                <td>{{event.end | date:'dd MMMM yyyy'}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </article>
</script>

<script type="text/ng-template" id="groups.tpl.html">

    <article class="doc-show">
        <header>
            <h2>Groupes</h2>
            <ul class="action">
            </ul>
        </header>

        <table>
            <thead>
            <tr>
                <th>Titre</th>
                <th>Role</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in groups">
                <td>{{group.title}}</td>
                <td>{{group.role}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </article>

</script>

<script type="text/ng-template" id="locations.tpl.html">

    <article ng-show="!editLocation" ng-repeat="personType in contact.entities" class="doc-show">
        <header>
            <h2>{{personType.entity.name}}</h2>
            <ul class="action">
                <li ng-click="editItem('editLocation')">Modifier</li>
            </ul>
        </header>
        <section class="data" ng-repeat="location in personType.entity.locations">
            <div class="key"><h3>{{location.type}}</h3></div>
            <div class="values">
                <div class="value">{{location.address}}</div>
                <div class="value">{{location.postbox}}</div>
                <div class="value">{{location.district}}</div>
                <div class="value">{{location.department}}</div>
                <div class="value">{{location.postalCode}} {{location.city}}</div>
                <div class="value">{{location.country}}</div>
            </div>
        </section>
    </article>

    <article ng-show="editLocation" ng-repeat="personType in contact.entities" class="doc-edit">
        <header>
            <h2>{{personType.entity.name}}</h2>
            <ul class="action">
                <li ng-click="saveItem('contact', 'editLocation')">Sauvegarder</li>
                <li ng-click="cancelItem('contact', 'editLocation')">Annuler</li>
            </ul>
        </header>

        <div ng-repeat="location in personType.entity.locations">

            <section class="data edit">
                <div class="key"><h3>Type *</h3></div>
                <div class="values">
                    <input type="text" ng-model="location.type" autocomplete="off"/>
                </div>
            </section>
            <section class="data edit">
                <div class="key"><h3>Rue *</h3></div>
                <div class="values">
                    <input type="text" ng-model="location.address" autocomplete="off"/>
                </div>
            </section>
            <section class="data edit">
                <div class="key"><h3>Boîte postale</h3></div>
                <div class="values">
                    <input type="text" ng-model="location.postbox" autocomplete="off"/>
                </div>
            </section>
            <section class="data edit">
                <div class="key"><h3>District</h3></div>
                <div class="values">
                    <input type="text" ng-model="location.district" autocomplete="off"/>
                </div>
            </section>
            <section class="data edit">
                <div class="key"><h3>Département</h3></div>
                <div class="values">
                    <input type="text" ng-model="location.department" autocomplete="off"/>
                </div>
            </section>
            <section class="data edit">
                <div class="key"><h3>Code Postale</h3></div>
                <div class="values">
                    <input type="text" ng-model="location.postalCode" autocomplete="off"/>
                </div>
            </section>
            <section class="data edit">
                <div class="key"><h3>Ville *</h3></div>
                <div class="values">
                    <input type="text" ng-model="location.city" autocomplete="off"/>
                </div>
            </section>
            <section class="data edit">
                <div class="key"><h3>Pays *</h3></div>
                <div class="values">
                    <input type="text" ng-model="location.country" autocomplete="off"/>
                </div>
            </section>
        </div>
    </article>

</script>

<script type="text/ng-template" id="donations.tpl.html">

    <article class="doc-show">
        <header>
            <h2>Dons</h2>
            <ul class="action">
            </ul>
        </header>

        <table>
            <thead>
            <tr>
                <th>Date</th>
                <th>Montant</th>
                <th>Monnaie</th>
                <th>Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="donation in donations">
                <td>{{donation.date | date:'dd.MM.yyyy'}}</td>
                <td>{{donation.amount}}</td>
                <td>{{donation.currency}}</td>
                <td>{{donation.type}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </article>

</script>

<script type="text/ng-template" id="entities.tpl.html">
    <article class="doc-show">
        <header>
            <h2>Entités (familles, entreprises, associations, ...)</h2>
            <ul class="action">
            </ul>
        </header>

        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="personType in contact.entities">
                <td>{{personType.entity.name}}</td>
                <td>{{personType.type}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </article>
</script>