<nav class="left-nav">
    <ul>
        <li ng-repeat="tab in tabs"
            ng-class="{active:isActiveTab(tab.url)}"
            ng-click="onClickTab(tab)">
            <span class="label">{{tab.title}}</span>
            <span class="nb"></span>
        </li>
    </ul>
</nav>

<section id="docMain">

    <header ng-show="!editTitle" class="doc-show">
        <ul class="action">
            <li ng-click="editItem('editTitle')">Modifier</li>
        </ul>

        <h1>{{event.title}}</h1>
    </header>

    <article ng-show="editTitle" class="doc-edit">
        <header>
            <h2>Titre de l'événement</h2>
            <ul class="action">
                <li ng-click="saveItem('event', 'editTitle')">Sauvegarder</li>
                <li ng-click="cancelItem('event', 'editTitle')">Annuler</li>
            </ul>
        </header>
        <section>
            <div class="key"><h3>Titre</h3></div>
            <div class="values">
                <input type="text" ng-model="event.title" autocomplete="off"/>
            </div>
        </section>
    </article>

    <div ng-include="currentTab"></div>
</section>


<script type="text/ng-template" id="infos.tpl.html">

    <article ng-show="!editInfos" class="doc-show">
        <header>
            <h2>Informations générales</h2>
            <ul class="action">
                <li ng-click="editItem('editInfos')">Modifier</li>
            </ul>
        </header>
        <section>
            <div class="key"><h3>Début</h3></div>
            <div class="values">
                <div class="value">{{event.start | date:'dd MMMM yyyy'}}</div>
            </div>
        </section>
        <section>
            <div class="key"><h3>Fin</h3></div>
            <div class="values">
                <div class="value">{{event.end | date:'dd MMMM yyyy'}}</div>
            </div>
        </section>
        <section ng-if="event.parent">
            <div class="key"><h3>Appartenant à</h3></div>
            <div class="values">
                <div class="value"><a href="#/doc/event/{{event.parent.id}}">{{event.parent.title}}</a></div>
            </div>
        </section>
    </article>

    <article ng-show="editInfos" class="doc-edit">
        <header>
            <h2>Informations générales</h2>
            <ul class="action">
                <li ng-click="saveItem('event', 'editInfos')">Sauvegarder</li>
                <li ng-click="cancelItem('event', 'editInfos')">Annuler</li>
            </ul>
        </header>

        <section>
            <div class="key"><h3>Début</h3></div>
            <div class="values">
                <input type="date" ui-date="dateOptions" ng-model="event.start" placeholder="yyyy-MM-dd"
                       autocomplete="off"/>
            </div>
        </section>
        <section>
            <div class="key"><h3>Fin</h3></div>
            <div class="values">
                <input type="date" ui-date="dateOptions" ng-model="event.end" placeholder="yyyy-MM-dd"
                       autocomplete="off"/>
            </div>
        </section>
    </article>

    <article class="doc-show">
        <header>
            <h2>Sous-événements</h2>
            <ul class="action">

            </ul>
        </header>
        <table>
            <thead>
            <tr>
                <th>Titre</th>
                <th colspan="2">Dates</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sub_event in event.childrens" class="link">
                <td><a href="#/doc/event/{{sub_event.id}}">{{sub_event.title}}</a></td>
                <td><a href="#/doc/event/{{sub_event.id}}">{{sub_event.start | date:'dd MMMM yyyy'}}</a></td>
                <td><a href="#/doc/event/{{sub_event.id}}">{{sub_event.end | date:'dd MMMM yyyy'}}</a></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </article>

    <article class="doc-show">
        <header>
            <h2>Participants</h2>
            <ul class="action">

            </ul>
        </header>
        <table>
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="participant in event.participants" class="link">
                <td><a href="#/doc/contact/{{participant.id}}">{{participant.firstname}}</a></td>
                <td><a href="#/doc/contact/{{participant.id}}">{{participant.lastname}}</a></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </article>

</script>

<script type="text/ng-template" id="events.tpl.html">


</script>

<script type="text/ng-template" id="groups.tpl.html">

    <article class="doc-show">
        <header>
            <h2>Groupes</h2>
            <ul class="action">
            </ul>
        </header>

        <table>
            <thead>
            <tr>
                <th>Titre</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in event.groups">
                <td>{{group.title}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </article>

</script>
