<div class="content">
    <div ng-if="addItem_type == ''" ng-include="'views/add/choice.html'"></div>
    <div ng-if="addItem_type == 'contact'" ng-include="'views/add/contact.html'"></div>
    <div ng-if="addItem_type == 'entity'" ng-include="'views/add/entity.html'"></div>
    <div ng-if="addItem_type == 'group'" ng-include="'views/add/group.html'"></div>
    <div ng-if="addItem_type == 'donation'" ng-include="'views/add/donation.html'"></div>
    <div ng-if="addItem_type == 'event'" ng-include="'views/add/event.html'"></div>
</div>